<div class="container">

	<div class="row">

		<div class="col-md-12">

			<h3 class="list-group-heading">Some Menu</h3>
			<div class="list-group">
				<a href="route:settings" class="list-group-item">
					<span class="media-left">
						<i class="fa fa-group"></i>
					</span>
					<span class="media-body">
						Friends
					</span>
					<span class="media-right">
						<i class="fa fa-chevron-right"></i>
					</span>
				</a>
				<a href="route:settings" class="list-group-item">
					<span class="media-left">
						<i class="fa fa-cog"></i>
					</span>
					<span class="media-body">
						Settings
					</span>
					<span class="media-right">
						<i class="fa fa-chevron-right"></i>
					</span>
				</a>
			</div>

			<h3 class="list-group-heading">Some Other Menu</h3>
			<div class="list-group">
				<a href="route:settings" class="list-group-item">
					<span class="media-left">
						<i class="fa fa-cog"></i>
					</span>
					<span class="media-body">
						Settings
					</span>
					<span class="media-right">
						<i class="fa fa-chevron-right"></i>
					</span>
				</a>
				<a href="route:settings" class="list-group-item">
					<span class="media-left">
						<i class="fa fa-cog"></i>
					</span>
					<span class="media-body">
						Settings
					</span>
					<span class="media-right">
						<i class="fa fa-chevron-right"></i>
					</span>
				</a>
			</div>


		</div>

	</div>

</div>