<div class="container-fluid">

	<div class="navbar-form navbar-form-search">
		<div class="media">
	    <div class="media-body">
	      <div class="input-group">
	        <span class="input-group-addon">
	          <i class="fa fa-search"></i>
	          <i class="fa fa-clock-o" style="display:none;"></i>
	        </span>
	        <input type="search" name="search" class="form-control input-search" placeholder="Search" data-value="search" autocapitalize="none">
	      </div>
	    </div>
	    <div class="media-right">
	      <a href="route:/" class="btn btn-link">Cancel</a>
	    </div>
	  </div>
	</div>

</div><!-- /.container-fluid -->